@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Producto";
}



<section class="content-header">
    <h1> Productos <small> Almacen  </small></h1>
    @*<ol class="breadcrumb"> Control </ol>*@
</section>
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>

                    <div class="box-tools pull-right">
                        @if (User.Identity.GetUserId().Equals("1"))
                        {
                            <button class="btn btn-success btn-sm-max" id="btnNuevaProducto"><span class="fa fa-plus-square"></span> Nueva Producto</button>
                        }

                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body ">
                    <form id="form1">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="cboTipoBusqueda">Tipo b&uacute;squeda</label>
                                <select class="form-control input-sm" style="width:100%;" id="cboTipoBusqueda">
                                    <option value="0">Todos</option>
                                    <option value="1">Categor&iacute;a</option>
                                    <option value="2">Descripci&oacute;n</option>
                                    <option value="3">Estado</option>
                                </select>
                            </div>
                            <div id="tipoCategoria" style="display:none;">
                                <div class="form-group col-md-3">
                                    <label for="cboCategoria">Categor&iacute;a</label>
                                    <select class="form-control input-sm" id="cboCategoria">
                                        <option value="0">Seleccionar</option>
                                    </select>
                                </div>
                            </div>
                            <div id="tipoDescripcion" style="display:none;">
                                <div class="form-group col-md-3">
                                    <label for="txtDescripcion">Descripci&oacute;n</label>
                                    <input type="text" class="form-control input-sm" id="txtDescripcion">
                                </div>
                            </div>
                            <div id="tipoEstado" style="display:none;">
                                <div class="form-group col-md-3">
                                    <label for="cboEstado">Estado</label>
                                    <select class="form-control input-sm" id="cboEstado">
                                        <option value="0" selected>Todos</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-1">
                                <label for="btnBuscar"><font color="white">_</font></label>
                                <button type="button" class="btn btn-primary btn-sm" id="btnBuscar">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body ">

                    <div class="row">
                        <div class="col-md-2">
                            <br />
                            <button type="button" class="btn btn-success btn-sm" id="btnGenerarExcel"><i class="fa  fa-download" aria-hidden="true"></i> Exportar Excel</button>
                        </div>
                        <div class="col-md-2">
                            <label for="txtFechaDesde">Fecha Desde</label>
                            <input class="form-control input-sm" type="text" id="txtFechaDesde" readonly="readonly" />
                        </div>

                        <div class="col-md-2">
                            <label for="txtFechaHasta">Fecha Hasta</label>
                            <input class="form-control input-sm" type="text" id="txtFechaHasta" readonly="readonly" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="tblListadoProductos" class="table table-bordered table-striped table-hover table-condensed" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th width="10%;">Categor&iacute;a</th>
                                            <th width="20%;">Descripci&oacute;n</th>
                                            <th width="8%;">Precio</th>
                                            <th width="10%;">Precio Mayor</th>
                                            <th width="8%;">Cantidad</th>
                                            <th width="10%;">Estado</th>
                                            <th width="10%;">Fecha</th>
                                            <th width="8%;"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="titleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleModalProducto">Agregar Producto</h4>
            </div>
            <div class="modal-body">
                <form id="formModal" class="small" onkeypress="return event.keyCode != 13;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cboModalCategoria">Categor&iacute;a</label>
                                <select class="form-control" id="cboModalCategoria">
                                    <option value="0">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtModalDescripcion">Descripcion</label>
                                <input class="form-control input-sm" type="text" id="txtModalDescripcion" maxlength="255" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtModalPrecio">Precio</label>
                                <input class="form-control input-sm" type="text" id="txtModalPrecio" maxlength="10" value="0.00" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtModalPrecioMayor">Precio Mayor</label>
                                <input class="form-control input-sm" type="text" id="txtModalPrecioMayor" maxlength="10" value="0.00" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtModalCantidad">Cantidad</label>
                                <input class="form-control input-sm" type="text" id="txtModalCantidad" maxlength="5" value="0" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Saco</label>
                                <div class="form-check-inline">
                                    <label class="form-check-label col-md-5">
                                        <input type="radio" class="form-check-input" name="rbsaco" value="1" id="rbsacoSi"> Si
                                    </label>
                                    <label class="form-check-label col-md-5">
                                        <input type="radio" class="form-check-input" name="rbsaco" value="2" id="rbsacoNo"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="divKilos" style="display:none;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtModalKilos">Kilos</label>
                                    <input class="form-control input-sm" type="text" id="txtModalKilos" maxlength="3" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cboModalEstado">Estado</label>
                                <select class="form-control" id="cboModalEstado">
                                    <option value="0">Seleccionar</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" type="button" id="btnSaveProducto">Guardar</button>
                <button class="btn btn-default btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/js/Producto/producto.js"></script>
}   