@using Microsoft.AspNet.Identity

@if (User.Identity.IsAuthenticated)
{
    //Obtenemos la lista con las opciones de menu y objeto.
    var opcMenu = AppConfig.MenuAplicacion;

    var listaMenuPadre = opcMenu.Where(x => x.CodigoOpcion == x.CodigoOpcionPadre && x.TipoOpcion == "Menu");

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height:auto;">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENU PRINCIPAL</li>
            </ul>
        </section>
    </aside>
}
else
{
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height:auto;">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENU PRINCIPAL</li>
                <!-- Optionally, you can add icons to the links -->
            </ul>
        </section>
    </aside>
}